<script src='./assets/vue.global.js'></script>
<script src='./assets/vue-router.global.js'></script>
<link rel="stylesheet" href="assets/bulma.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<script src="https://unpkg.com/vue-demi"></script>
<script src="https://unpkg.com/pinia"></script>

<style>
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ECF0F3;
    // background-color: #C4CFCF;
  }

  navbar {
    border-bottom: solid 1px #E1E4F1;
  }

  .box-shadow {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }

  hr {
    background-color: #ccc;
  }

  .todo-task.completed {
    // color: #ccc !important;
    // border-color: #ddd !important;
    opacity: .4;
  }

  .todo-task {
    border: 1px solid rgba(0, 0, 0, 0.41);
    border-radius: 7px;
    padding: 10px 35px;
    padding-right: 10px;
    margin: 30px 100px;
    display: flex;
    align-items: center;
  }

  .todo-content {
    flex: 1;
  }

  .todo-right {
    // display: none
  }

  .todo-task:hover .todo-right {
    display: block;
  }

  .todo-right>button {
    margin-left: 5px;
    background-color: inherit;
    border: 0;
  }

  .todo-right>button.trash:hover {
    background-color: #FFDCDC;
  }

  .todo-right>button.trash:active {
    box-shadow: 1px 2px 4px #FFDCDC;
  }

  .todo-right>button.completed:hover {
    background-color: #DCEFDC;
  }

  .todo-right>button.completed:active {
    box-shadow: 1px 2px 4px #DCEFDC;
  }


  .todo-title {
    font-size: 20px;
    font-weight: 700;
  }

  .todo-subtitle {
    font-style: italic;
  }
</style>


<nav class='navbar mb-6 py-3'>
  <div class='container is-size-5'>
    <div class='navbar-brand ml-1'>
      <img src='./assets/bulma-logo.png' width='112' height='28'>
    </div>
    <div class='navbar-menu'>
      <div class='navbar-start'>
        <a class='navbar-item'>Home</a>
        <a class='navbar-item'>Home</a>
        <a class='navbar-item'>Home</a>
      </div>
      <div class='navbar-end'>
        <a class='navbar-item'>Login</a>
        <a class='navbar-item'>Login</a>
        <a class='navbar-item'>Login</a>
      </div>
    </div>
  </div>
</nav>

<p class='block'>
  <router-link to='/login'>Go to Login Page</router-link>
  <br>
  <router-link to='/register'>Go to Registration Page</router-link>
</p>

<div class='container is-max-desktop has-background-white box-shadow'>
  <div class='section'>
    <h1 class='title is-2 has-text-centered'>Upcoming Events</h1>
    <hr>

    <div class='todo-task'>
      <div class='todo-content'>
        <p class='todo-title'>Cleaning House With Soap</p>
        <p class='todo-subtitle'>Thu. 05, Dec. 2023</p>
      </div>
      <div class='todo-right'>
        <button class='icon is-large trash'>
          <i class='fa fa-trash fa-xl'></i>
        </button>
        <button class='icon is-large completed'>
          <i class='fa fa-check fa-xl'></i>
        </button>
      </div>
    </div>

    <div class='todo-task'>
      <div class='todo-content'>
        <p class='todo-title'>Cleaning House With Soap</p>
        <p class='todo-subtitle'>Thu. 05, Dec. 2023</p>
      </div>
      <div class='todo-right'>
        <button class='button is-outlined is-danger' v-on:click="deleteTodo">
          <span class='icon'>
            <i class='fa fa-trash'></i>
          </span>
        </button>
        <button class='button is-outlined is-success' @click="console.log('hello')">
          <span class='icon is-large'>
            <i class='fa fa-check fa-xl'></i>
          </span>
        </button>
      </div>
    </div>

    <div class='todo-task' v-for="todo in todos">
      <div class='todo-content'>
        <p class='todo-title'>{{ todo.title }}</p>
        <p class='todo-subtitle'>{{ new Date (todo.date_epoch * 1000).toUTCString() }}</p>
      </div>
      <div class='todo-right'>
        <button class='button is-outlined is-danger' v-on:click="deleteTodo">
          <span class='icon'>
            <i class='fa fa-trash'></i>
          </span>
        </button>
        <button class='button is-outlined is-success' @click="console.log('hello')">
          <span class='icon is-large'>
            <i class='fa fa-check fa-xl'></i>
          </span>
        </button>
      </div>
    </div>

    <div class='media'>
      <div class='media-content'>
        <h2 class='title'>Cleaning House With Soap</h2>
        <h3 class='subtitle'>Thu. 05, Dec. 2023</h3>
      </div>
    </div>
  </div>
</div>

<router-view></router-view>


<script>
  let rootVueApp = {}

  const componentLogin = {
    data() {
      return {

      }
    },
    template: `
      <div class='container'>
        <div class='columns is-centered'>
          <form class='column is-4 box section'>
            <div class='field is-horizontal'>
              <div class='field-label'>
                <label class='label' for='input-username'>Username</label>
              </div>
              <div class='field-body'>
                <div class='field'>
                  <div class='control is-expanded has-icons-left'>
                    <input class='input' v-model='inputUsername' id='input-username' type='text' placeholder='Username'>
                    <span class='icon is-left'>
                      <i class='fas fa-user'></i>
                    </span>
                  </div>
                  <p class='help'>Chose an unique username</p>
                </div>
              </div>
            </div>

            <div class='field is-horizontal'>
              <div class='field-label'>
                <label class='label' for='input-password'>Password</label>
              </div>
              <div class='field-body'>
                <div class='field'>
                  <div class='control is-expanded has-icons-left'>
                    <input v-model='inputPassword' type='password' class='input' placeholder='Password' id='input-password' />
                    <span class='icon is-left'>
                      <i class='fas fa-key'></i>
                    </span>
                    <p class='help'>Enter correct Password</p>
                  </div>
                </div>
              </div>
            </div>

            <button class='button is-primary is-fullwidth mt-5'>Login</button>
            <p class='has-text-centered mt-1'>Don't have an account ? <a>Register Now</a></p>
          </form>
        </div>
      </div>
    `,
  }

  const componentRegistration = {
    data() {
      return {
        inputUsername: 'Meriosa',
        inputPassword: 'secret',
      }
    },
    template: `
      <div class='container'>
        <div class='columns is-centered'>
          <form class='column is-4 box section'>
            <div class='field is-horizontal'>
              <div class='field-label'>
                <label class='label' for='input-username'>Username</label>
              </div>
              <div class='field-body'>
                <div class='field'>
                  <div class='control'>
                    <input class='input' v-model='inputUsername' id='input-username' type='text' placeholder='Username'>
                  </div>
                </div>
              </div>
            </div>

            <div class='field is-horizontal'>
              <div class='field-label'>
                <label class='label' for='input-password'>Password</label>
              </div>
              <div class='field-body'>
                <div class='field'>
                  <div class='control'>
                    <input v-model='inputPassword' type='password' class='input' placeholder='Password' id='input-password' />
                  </div>
                </div>
              </div>
            </div>

            <button class='button is-primary is-fullwidth mt-5' @click.prevent='registration'>Register</button>
          </form>
        </div>
      </div>
    `,
    methods: {
      registration: function () {
        console.log(`username: ${this.inputUsername} ::: password: ${this.inputPassword}`)
        console.log(`This : `, this)
        console.log(`This.$root : `, this.$root)
        console.log(`This.$data : `, this.$data)
        rootVueApp = this
      },
    }
  }

  routes = [
    {path: '/login', component: componentLogin},
    {path: '/register', component: componentRegistration},
  ]

  const router = VueRouter.createRouter({
    history: VueRouter.createWebHashHistory(),
    routes,
  })

  const pinia = Pinia.createPinia()

  const useVarStore = Pinia.defineStore('var', {
    state: () => ({count: 0, name: 'Eduardo'}),
    getters: {
      doubleCount(state) {return state.count * 2},
    },
    actions: {
      increment() {
        this.count++
      },
    },
  })

  const app = Vue.createApp({
    components: {
      'component-registration': componentRegistration,
      'component-login': componentLogin,
    },
    data() {
      return {
        inputUsername: 'Memosa',
        inputPassword: '',
        todos: [],
      }
    },
    methods: {
      deleteTodo(el) {
        console.log(`deleteTodo --> ${el}`, el)
      },
      completeTodo(el) {
        console.log('complete')
      }
    },
    async mounted() {
      console.log('component mounted')

      const url = `http://localhost:2200/api/v1/todo`
      let response = await fetch(url, {
        headers: {
          Authorization: "BEARER eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxfQ.jYyRJbb0WImFoUUdcslQQfwnXTHJzne-6tsPd8Hrw0I"
        }
      })
      let data = await response.json()
      this.todos = data.todos

      console.log(data)
      console.log('================ End mounted() hook ===============')
    },
    setup() {
      // const varStore = useVarStore()
      // const menuStore = useVarStore()
      // console.log('varStore: ', varStore)
      // console.log('menuStore: ', menuStore)
      // return {varStore}
    },
  })

  app.use(router)
  app.use(pinia)

  app.mount('body')
  const varStore = useVarStore()

  // let useVarStore = Pinia.defineStore('var', () => {
  //   const count = ref('0')
  //   const name = ref('Eduardo')

  //   const doubleCount = computed(() => count.value * 2)
  //   function increment() {
  //     count.value++
  //   }

  //   return {count, name, doubleCount, increment}
  // })

  console.log('Pinia : ', Pinia)
  console.log('Pinia : ', Pinia.createPinia)
  // console.log('Pinia useVarStore: ', useVarStore)
  // console.log('Pinia useVarStore (USED): ', useVarStore())
  // console.log(app)
  // console.log(app.$component)
  // console.log(app._component.template)
  console.log('===============================')
  console.log('store.count = ', varStore.count)
  console.log('varStore.name = ', varStore.name)
  console.log('varStore.increment() = ', varStore.increment())
  console.log('store.count = ', varStore.count)

</script>
